<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <label style="margin-right: 10px">I am a: </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />
      Male
    </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input ms-3"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
  </div>
  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Full Name'"
  ></app-text-input>
  <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of Birth'"
    [maxDate]="maxDate"
  ></app-date-picker>
  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
  ></app-text-input>
  <div class="form-group">
    <label for="selectAction">Choose Faculty</label>
    <select class="form-control" (change)="selectFaculty($event)">
      <option *ngFor="let fac of faculties" [value]="fac.id">
        {{ fac.shortName }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="selectAction">Choose Cycle</label>
    <select class="form-control" (change)="selectCycle($event)">
      <option *ngFor="let cycle of cycles" [value]="cycle.id">
        {{ cycle.cycleName }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="selectAction">Choose Specialization</label>
    <select
      [class.is-invalid]="
        registerForm.get('specializationId')?.errors &&
        registerForm.get('specializationId').touched
      "
      class="form-control"
      formControlName="specializationId"
    >
      <option *ngFor="let sp of specializations" [value]="sp.id">
        {{ sp.name }}
      </option>
    </select>
    <div
      class="invalid-feedback"
      *ngIf="registerForm.get('specializationId').hasError('required')"
    >
      Please choose a specialization
    </div>
  </div>
  <br />
  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>

  <div class="text-center">
    <button
      class="btn btn-success register-button"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
    <button class="btn btn-danger" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
